a{color: coral}
li{color: black;}
header{background-color: beige;}
li{display: inline;}

ul{display: inline;}
nav{display: inline;}
footer{background-color: beige;}
h4{color: coral;}
h1{    border: solid black; }
footer{    border: solid black; }
h1{margin: 20px;}
h1{margin-left: 10px;}
h1{margin-right: 10px;}
nav{    margin-left: 930px;}
li{margin-right: 7px;}
h4{margin-left: 600px
    ;}